<main class='bg-white dark:bg-gray-900'>
  <%= link_to sanitize("&larr; 返回"), notes_path(@note) %>
   <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">修改笔记</h2>
   </div>
    <%= turbo_frame_tag @note do%>
      <%= render 'form', note: @note %>
    <% end %>
</main>