<main class="container">
  <%= link_to sanitize("&larr; Back to note"), note_path(@note) %>
  <div class="header">
    <h1>Edit category</h1>
  </div>
  <%= turbo_frame_tag dom_id(@category, :edit) do %>
    <%= render "form", note: @note, category: @category %>
  <% end %>
</main>
